.form {
  position: fixed;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #121316;
  z-index: 1;
  width: 100%;
  padding-top: 5rem;
}

.form form {
  width: 86%;
  padding: 2rem;
  height: 42rem;
}

.form h2 {
  font-size: 1.6rem;
}

.form div {
  margin: 16px 0;
}

@media (min-width: 768px) {
  .form {
    position: static;
  }

  .form form {
    max-width: 60rem;
  }

  .form div {
    margin: 16px 0;
  }
}

@media (min-width: 992px) {
  .form form {
    padding: 2rem;
    background-color: rgba(30, 31, 34, 1);
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    height: 52rem;
  }

  .form form {
    max-width: 80rem;
  }

  .form h2 {
    font-size: 1.6rem;
  }
}
