.addbtn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: rgba(244, 19, 100, 1);
  padding: 0.8rem;
  transition: 300ms;
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: opacity 0.3s, visibility 0.3s;
  pointer-events: none;
  width: 200px;
}

.addbtn:hover {
  filter: brightness(1.2);
  box-shadow: rgba(244, 19, 100, 0.2) 3px 14px 28px, rgba(244, 19, 100, 0.2) 3px 10px 10px;
}

@media (min-width: 768px) {
  .addbtn:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}
