.team {
  text-align: center;
  padding: 34px 0 40px;
}

.team h3 {
  display: inline-block;
  font-size: 56px;
  line-height: 40px;
  border-bottom: 4px solid;
  padding-bottom: 8px;
  margin-bottom: 16px;
  background: linear-gradient(
    90deg,
    rgba(216, 216, 216, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(216, 216, 216, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team .members {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
