.team {
  text-align: center;
  padding: 2rem 0 40px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}

.team h3 {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 4rem;
  border-bottom: 4px solid;
  padding-bottom: 0.2rem;
  margin-bottom: 1.6rem;
  background: linear-gradient(90deg, rgba(216, 216, 216, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(216, 216, 216, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.members {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .team {
    padding: 34px 0 40px;
  }
}

@media (min-width: 992px) {
  .team {
    padding: 34px 0 40px;
  }

  .team h3 {
    font-size: 2.8rem;
  }

  .members {
    gap: 2.8rem;
    flex-wrap: wrap;
  }
}
