.card {
  position: relative;
  width: 16rem;
  background: linear-gradient(
    180deg,
    rgba(18, 19, 22, 1) 25%,
    rgba(68, 70, 77, 1) 25%
  );
  padding: 4rem 0 2.4rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 30px -10px;
}

.delete {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.delete:hover {
  transition: 300ms;
  filter: brightness(0.7);
}

.card img {
  border: 2px solid white;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.info h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.6rem;
  background: linear-gradient(
    90deg,
    rgba(216, 216, 216, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(216, 216, 216, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-break: break-word;
}

.info h5 {
  color: rgb(173, 173, 173);
  font-size: 1.6rem;
  word-break: break-word;
}

.card-link {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0.8rem auto;
}

.card-link a {
  color: white;
  text-decoration: none;
  background-color: rgba(52, 53, 56, 1);
  border-radius: 5px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  padding: 4px;
  align-self: center;
}

.card-link a:hover {
  text-decoration: underline;
}

.info p {
  font-size: 1.4rem;
  color: white;
  line-height: 3.6rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .card {
    width: 26rem;
    padding: 4rem 0 2.8rem;
  }

  .card img {
    width: 12rem;
    height: 12rem;
  }

  .info h4 {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .info h5 {
    font-size: 2rem;
  }

  .card-link a {
    font-size: 1.4rem;
  }

  .info p {
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
