.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #121316;
}

.logo img {
  height: 2rem;
}

.link-git {
  display: flex;
}

.content a {
  text-decoration: none;
  color: white;
}

.content a:hover {
  text-decoration: underline;
}

.content {
  background-color: rgba(52, 53, 56, 1);
  border-radius: 5px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  padding: 0.8rem;
  color: white;
  font-size: 2.4rem;
  align-self: center;
}

.icon {
  font-size: 36px;
}

@media (min-width: 992px) {
  .footer {
    padding: 3rem;
  }

  .logo img {
    height: 3.2rem;
  }

  .content {
    font-size: 3rem;
  }

  .icon {
    font-size: 40px;
  }
}
