.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.list {
  width: 33vw;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.logo {
  height: 63px;
}

.link-git {
  display: flex;
}

.content a {
  text-decoration: none;
  color: white;
}

.content a:hover {
  text-decoration: underline;
}

.content {
  background-color: rgba(52, 53, 56, 1);
  border-radius: 5px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  padding: 8px;
  color: white;
  font-size: 20px;
  line-height: 24px;
}
