.input-text {
  margin: 16px 0;
}

.input-text label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

.input-text input {
  background-color: rgba(52, 53, 56, 1);
  border-radius: 5px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  width: 100%;
  font-size: 20px;
  padding: 20px;
  color: white;
}
